*.ipynb_checkpoints/
**/.ipynb_checkpoints/*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
.coverage.*

# Environment
.env
.venv
env/
venv/
ENV/
.env.bak
.env.local
.env.*
.env.dev
.env.prod
.env.test
.env.staging
.env.docker
.env.example
.env.sample
.env.dist
.env.backup
.env.save
.env.old
.env.copy
.env.default
.env.template
.env.vars
.env.conf
.env.config
.env.settings
.env.properties
.env.yml
.env.yaml
.env.json
.env.toml
.env.ini
.env.cfg
.env.txt
.env.md
.env.doc
.env.docx
.env.pdf
.env.xls
.env.xlsx
.env.ppt
.env.pptx
.env.zip
.env.tar
.env.gz
.env.bz2
.env.xz
.env.7z
.env.rar
.env.jar
.env.war
.env.ear
.env.sar
.env.egg
.env.whl
.env.exe
.env.msi
.env.dmg
.env.pkg
.env.deb
.env.rpm
.env.snap
.env.appimage
.env.iso
.env.img
.env.vhd
.env.vmdk
.env.qcow2
.env.vdi
.env.vmd
.env.hdd
.env.hds
.env.hypervisor
.env.vmwarevm
.env.vbox
.env.virtualbox
.env.parallels
.env.hyperv
.env.kvm
.env.qemu
.env.docker
.env.lxc
.env.rkt
.env.singularity
.env.podman
.env.buildah
.env.skopeo
.env.umoci
.env.crun
.env.runc
.env.containerd
.env.crio
.env.kubelet
.env.kubeadm
.env.kubectl
.env.helm
.env.tiller
.env.istio
.env.linkerd
.env.consul
.env.nomad
.env.vault
.env.terraform
.env.ansible
.env.chef
.env.puppet
.env.salt
.env.bash
.env.zsh
.env.fish
.env.tcsh
.env.csh
.env.ksh
.env.mksh
.env.posix
.env.shell
.env.command
.env.script
.env.bat
.env.cmd
.env.com
.env.exe
.env.msc
.env.oscript
.env.nut
.env.lua
.env.javascript
.env.js
.env.node
.env.npm
.env.yarn
.env.pnpm
.env.bun
.env.deno
.env.python
.env.pip
.env.conda
.env.miniconda
.env.anaconda
.env.poetry
.env.pipenv
.env.tox
.env.pytest
.env.unittest
.env.nose
.env.behave
.env.robot
.env.cucumber
.env.jasmine
.env.mocha
.env.karma
.env.protractor
.env.webdriver
.env.selenium
.env.cypress
.env.playwright
.env.puppeteer
.env.chrome
.env.firefox
.env.safari
.env.edge
.env.ie
.env.opera
.env.brave
.env.vivaldi
.env.tor
.env.waterfox
.env.librefox
.env.palemoon
.env.seamonkey
.env.iceweasel
.env.kmeleon
.env.comodo
.env.avast
.env.avg
.env.mcafee
.env.norton
.env.bitdefender
.env.kaspersky
.env.malwarebytes
.env.eset
.env.fsecure
.env.sophos
.env.trendmicro
.env.symantec
.env.checkpoint
.env.fortinet
.env.paloalto
.env.cisco
.env.juniper
.env.arista
.env.extreme
.env.alcatel
.env.nokia
.env.huawei
.env.zte
.env.ericsson
.env.nec
.env.fujitsu
.env.hitachi
.env.toshiba
.env.panasonic
.env.sharp
.env.canon
.env.epson
.env.hp
.env.dell
.env.lenovo
.env.asus
.env.acer
.env.msi
.env.gigabyte
.env.asrock
.env.biostar
.env.evb
.env.raspberry
.env.odroid
.env.beaglebone
.env.arduino
.env.esp32
.env.esp8266
.env.riscv
.env.arm
.env.x86
.env.x86_64
.env.amd64
.env.i386
.env.i686
.env.ia64
.env.mips
.env.mips64
.env.powerpc
.env.powerpc64
.env.sparc
.env.sparc64
.env.alpha
.env.hppa
.env.sh
.env.s390
.env.s390x
.env.crux
.env.freebsd
.env.openbsd
.env.netbsd
.env.dragonfly
.env.minix
.env.genode
.env.haiku
.env.syllable
.env.rtems
.env.vxworks
.env.psos
.env.vrtx
.env.nucleus
.env.threadx
.env.freescale
.env.windriver
.env.ti
.env.microchip
.env.atmel
.env.intel
.env.qualcomm
.env.mediatek
.env.broadcom
.env.marvell
.env.cavium
.env.apm
.env.calxeda
.env.ibm
.env.oracle
.env.redhat
.env.centos
.env.fedora
.env.debian
.env.ubuntu
.env.mint
.env.kali
.env.parrot
.env.backtrack
.env.arch
.env.manjaro
.env.gentoo
.env.slackware
.env.opensuse
.env.sles
.env.rhel
.env.oraclelinux
.env.amazonlinux
.env.alpine
.env.busybox
.env.dietlibc
.env.musl
.env.glibc
.env.uclibc
.env.newlib
.env.picolibc
.env.avr-libc
.env.arm-none-eabi
.env.riscv-none-embed
.env.mips-mti-elf
.env.powerpc-eabivle
.env.sparc-sun-solaris
.env.alpha-dec-osf1
.env.hppa-hp-hpux
.env.sh-sh4-linux-gnu
.env.s390x-ibm-linux-gnu
.env.crux-cross
.env.freebsd-cross
.env.openbsd-cross
.env.netbsd-cross
.env.dragonfly-cross
.env.minix-cross
.env.genode-cross
.env.haiku-cross
.env.syllable-cross
.env.rtems-cross
.env.vxworks-cross
.env.psos-cross
.env.vrtx-cross
.env.nucleus-cross
.env.threadx-cross
.env.freescale-cross
.env.windriver-cross
.env.ti-cross
.env.microchip-cross
.env.atmel-cross
.env.intel-cross
.env.qualcomm-cross
.env.mediatek-cross
.env.broadcom-cross
.env.marvell-cross
.env.cavium-cross
.env.apm-cross
.env.calxeda-cross
.env.ibm-cross
.env.oracle-cross
.env.redhat-cross
.env.centos-cross
.env.fedora-cross
.env.debian-cross
.env.ubuntu-cross
.env.mint-cross
.env.kali-cross
.env.parrot-cross
.env.backtrack-cross
.env.arch-cross
.env.manjaro-cross
.env.gentoo-cross
.env.slackware-cross
.env.opensuse-cross
.env.sles-cross
.env.rhel-cross
.env.oraclelinux-cross
.env.amazonlinux-cross
.env.alpine-cross
.env.busybox-cross
.env.dietlibc-cross
.env.musl-cross
.env.glibc-cross
.env.uclibc-cross
.env.newlib-cross
.env.picolibc-cross
.env.avr-libc-cross
.env.arm-none-eabi-cross
.env.riscv-none-embed-cross
.env.mips-mti-elf-cross
.env.powerpc-eabivle-cross
.env.sparc-sun-solaris-cross
.env.alpha-dec-osf1-cross
.env.hppa-hp-hpux-cross
.env.sh-sh4-linux-gnu-cross
.env.s390x-ibm-linux-gnu-cross

# Virtual environments
.venv/
venv/
ENV/
.env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# VS Code
.vscode/

# Original rules preserved
*.log